html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(circle, #87e0ff, #61b0bf, #448284, #2c5550, #152c25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Verdana, sans-serif;
  height: inherit;
}
.wrapper {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  background: rgba(255, 255, 255, 0.30);
  border: 1px solid rgba(255, 255, 255, 0.34);
  flex-basis: 400px;
  height: 540px;
  padding: 20px 35px;
}
h1 {
  text-align: center;
}